.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="#") 循易购管理后台
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/admin/categories') 分类
      li.nav-item.active
        a.nav-link(href='/admin/products') 商品
      li.nav-item.active
        a.nav-link(href='/admin/users') 用户
