doctype html
html
  head
    title= title
    link(rel='stylesheet' href="/stylesheets/bootstrap.min.css")

    script(src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    include header.pug
    block content
