doctype html
html
  head
    title= '循易购后台管理系统'
    link(rel='stylesheet' href="/stylesheets/bootstrap.min.css")
    script(src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    include header.pug
    block content
